Debug/Back_main.obj
Debug/BackgroundDepthSubtraction.obj
Debug/cl.command.1.tlog
Debug/CL.read.1.tlog
Debug/CL.write.1.tlog
Debug/Lib-link.read.1.tlog
Debug/Lib-link.write.1.tlog
Debug/lib.command.1.tlog
Debug/MovementDetection.Build.CppClean.log
Debug/MovementDetection.lastbuildstate
Debug/MovementDetection.log
Debug/MovementDetection.write.1.tlog
Debug/vc100.idb
Debug/vc100.pdb
MovementDetection.vcxproj
MovementDetection.vcxproj.filters
MovementDetection.vcxproj.user
